.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 32px;
  margin-left: 2em;
  @media(min-width:1200px) {
    padding: 5em;
    gap: 62px;
  }
}

.img{
  width: 200px;
  height: 200px;
  @media(min-width:768px) {
    width: 350px;
   height: 200px;
  }
}
.display{
  display: flex;
  justify-content: center;
}
.star-wars{

}

.h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.justify{
  text-align: justify;
}

:host ::ng-deep .p-card {
  background-color: #cebe31fd;
  color: #000;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

:host ::ng-deep .p-card:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
