<div class="content">
  <div class="display">
    <img class="img" (click)="redirectFilms()" src="https://www.freeiconspng.com/uploads/logo-star-wars-png-4.png"/>
  </div>
  <h2 class="h1"> Vehicles</h2>
  <div>
    <p-table
      #dt2
      [value]="listVehicles"
      dataKey="id"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 20]"
      [globalFilterFields]="['name', 'model', 'manufacturer', 'cost_in_credits', 'length', 'crew', 'vehicle_class']"
      [tableStyle]="{ 'min-width': '75rem' }"
      styleClass="p-datatable-striped"
     >
      <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Manufacturer</th>
            <th>Cost in Credits</th>
            <th>Length</th>
            <th>Crew</th>
            <th>vehicles Class</th>
        </tr>
        <tr>
          <th>
            <p-columnFilter type="text" field="name"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="model"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="manufacturer"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="cost_in_credits"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="length"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="crew"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="vehicle_class"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vehicles>
          <tr>
              <td>{{ vehicles.name }}</td>
              <td>{{ vehicles.model }}</td>
              <td>{{ vehicles.manufacturer }}</td>
              <td>{{ vehicles.cost_in_credits}}</td>
              <td>{{ vehicles.length }}</td>
              <td>{{ vehicles.crew }}</td>
              <td>{{ vehicles.vehicle_class}}</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No customers found.</td>
        </tr>
      </ng-template>
  </p-table>
  </div>
</div>



